.gridNoScroller {
    :global {
        .k-grid-content {
            overflow-y: auto !important;
        }
    }
}

.containerInfo > div:nth-last-of-type(1) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 100%;
}
%btn {
    // display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0rem 0rem;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

%btn-primary {
    @extend %btn;
    color: #ffffff;
    background-color: #009a5e;
    border-color: #009a5e;
    cursor: pointer;
}
%btn-error {
    @extend %btn;
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.ViewIPApproveButtonStyle {
    @extend %btn-primary;
    // margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.ViewIPRejectButtonStyle {
    @extend %btn-error;
    // margin-right: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: -1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.font-weight {
    font-weight: bold;
}
.CustomCommandCell {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.customGrid {
    width: 98%;
    margin: 0 auto;
}
