#input-instruction{
    border-style: none !important;
}
#input-instruction:active{
    border-style: none !important;
}
#input-instruction:focus{
    border-style: none !important;
    box-shadow: none;
}