@import "variables.scss";
@import "~react-redux-toastr/src/styles/index";

@font-face {
    font-family: "Montreal Regular";
    src: url("./Assets/Fonts/MONTREAL-REGULAR.TTF") format("truetype");
}

@font-face {
    font-family: "Montreal Bold";
    src: url("./Assets/Fonts/MONTREAL-BOLD.TTF") format("truetype");
}

@font-face {
    font-family: "Proxima Regular";
    src: url("./Assets/Fonts/PROXIMANOVA-REGULAR.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Semibold";
    src: url("./Assets/Fonts/PROXIMA\ NOVA\ SEMIBOLD.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Light";
    src: url("./Assets/Fonts/PROXIMANOVA-LIGHT.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Thin";
    src: url("./Assets/Fonts/PROXIMA\ NOVA\ THIN.ttf") format("truetype");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-family: "Proxima Regular" !important;
    color: #595959 !important;
    line-height: normal !important;
    h1 {
        // @include font-size($h1-font-size);
        font-family: "Montreal Bold";
        margin-bottom: 0;
    }
    h2 {
        // @include font-size($h2-font-size);
        font-family: "Montreal Regular";
        margin-bottom: 0;
    }
    h3 {
        // @include font-size($h3-font-size);
        font-family: "Proxima Semibold";
        margin-bottom: 0;
    }
    h4 {
        // @include font-size($h4-font-size, true);
        margin-bottom: 0;
    }
    h5 {
        // @include font-size($h5-font-size, true);
        margin-bottom: 0;
    }
    h6 {
        // @include font-size($h6-font-size, true);
        margin-bottom: 0;
    }

    .display-xl {
        font-family: "Montreal Bold";
        font-size: 80px !important;
        margin-bottom: 0;
    }

    .display-lg {
        font-family: "Montreal Bold";
        font-size: 70px !important;
        margin-bottom: 0;
    }

    .display-md {
        font-family: "Montreal Bold";
        font-size: 56px !important;
        margin-bottom: 0;
    }

    .display-sm {
        font-family: "Montreal Bold";
        font-size: 42px !important;
        margin-bottom: 0;
    }

    .headline {
        font-size: 24px !important;
        font-family: "Montreal Regular";
        margin-bottom: 0;
    }

    .title {
        font-size: 1rem !important;
        margin-bottom: 0;
    }

    .subtitle-bold {
        font-size: 0.5rem !important;
        font-family: "Proxima Semibold";
        margin-bottom: 0;
    }

    .subtitle-regular {
        font-size: 0.5rem !important;
        margin-bottom: 0;
    }

    span,
    p,
    td {
        
        font-size: 0.75rem !important;
        margin-bottom: 0;
    }

    .base-lg {
        font-size: 0.875rem !important;
        margin-bottom: 0;
    }

    .btn,
    .k-textbox,
    .k-label,
    .k-button {
        font-size: 0.75rem !important;
    }
    .k-card{
        font-family: unset;
    }

    hr {
        margin-top: 0;
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 0.75rem;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 0.75rem;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 0.75rem;
}

html {
    height: 100%;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

//Temporary Removing This
// .rounded {
//     border-radius: 1rem !important;
// }

//Making disabled primary button gray
.btn.btn-primary:disabled {
    background-color: $swatch-400 !important;
    border-color: $swatch-400 !important;
}

.btn.btn-outline-primary:disabled {
    color: $swatch-400 !important;
    border-color: $swatch-400 !important;
}

.bg-default {
    background-color: #f5f7fb;
}

.bg-white {
    background-color: white;
}
.k-animation-container-shown {
    z-index: 10003 !important;
}

.btn.btn-primary:disabled {
    background-color: $swatch-400 !important;
    border-color: $swatch-400 !important;
}

.btn.btn-outline-primary:disabled {
    color: $swatch-400 !important;
    border-color: $swatch-400 !important;
}

//Adding light font
.font-weight-light {
    font-family: "Proxima Light" !important;
}

.font-weight-bold {
    font-family: "Montreal Regular" !important;
}

.font-semibold{
    font-family: "Proxima SemiBold" !important;
}

//Changing cursor on hover
.cursor-pointer:hover {
    cursor: pointer;
}

.font-bolder {
    font-weight: bold !important;
}

@media (min-width: 1600px){
    ::placeholder {
      
        font-size: 0.875rem;
      
    }
    
    :-ms-input-placeholder {
       
        font-size: 0.875rem;
    }
    
    ::-ms-input-placeholder {
       
        font-size: 0.875rem;
    }

    body {
    
        .title {
            font-size: 1.25rem !important;
            margin-bottom: 0;
        }
    
        .subtitle-bold {
            font-size: 0.75rem !important;
        
        }
    
        .subtitle-regular {
            font-size: 0.75rem !important;
      
        }
    
        span,
        p,
        td {
            
            font-size: 0.875rem !important;
           
        }
    
        .base-lg {
            font-size: 1rem !important;
           
        }
    
        .btn,
        .k-textbox,
        .k-label,
        .k-button {
            font-size: 0.875rem !important;
        }
       
    }
}

.bg-purple {
    background-color: #516891;
}


.text-purple {
    color: #516891;
}
