        //To be deleted afterwards
        $input-label-size: calc(0.72rem + 0.3vw);

        //Color Schema
        $PSW_Obsedian: #1d213e;
        $PSW_Green: #009a5e;
        $heading-color: #262626;
        $normal-text-color: #595959;
        $sub-text-color: #818181;
        $disabled-text-color: #BFBFBF;
        $psw-header-bg : #516891;
        $psw-tab-active: #e8e8e8;

        //To be erased after reading references ******
        $sub-text-color: rgba(0, 0, 0, 0.45);
        $section-heading-color: $PSW_Obsedian;
        $section-sub-heading-color: rgba(
            0,
            0,
            0,
            0.7
        );
        $numbered-section-heading-color: gray;
        // *****************************************


        // Kendo Primary Color
        $accent: $PSW_Green;

        //Bootstrap Primary & Secondary Color
        $primary: $PSW_Green;
        $secondary: #f3f3f4;
$secondary: #f3f3f4;

        //Adding new colors
        $theme-colors: (
            obsedian: $PSW_Obsedian
        );

        //Responsive font sizes
        // $enable-responsive-font-sizes: true;
        // $rfs-base-font-size: 0.75rem;
        // $rfs-breakpoint: 1900px;

        //Might to delete this
        $floating-label-font-size: $input-label-size;
        $font-size: 14px;

        @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
        @import "~bootstrap/scss/bootstrap.scss";

        //Various Shades of Grays
        $swatch-100: $gray-100;
        $swatch-200: $gray-200;
        $swatch-300: $gray-300;
        $swatch-400: $gray-400;
        $swatch-500: $gray-500;
        $swatch-600: $gray-600;
        $swatch-700: $gray-700;
        $swatch-800: $gray-800;
        $swatch-900: $gray-900;
