.initTreatmentContainer {

    .consignment-container {
        .section-head {
            font-size: 16px !important;
            font-weight: 500 !important;
            color: #000000;
        }
    }
    
    .form-table-data-container {
       margin: 27px !important;
    }

    .button-section {
       padding-top: 1px;
    }

    .customFont {
            font-size: 1rem !important;
    }
}



// ml-5 pt-2